body {
	margin: 0;
	background-color: #f0f0f0;
	font-family: 'inter',sans-serif;
    background-image:url(".//cache/back (1).png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
}
header {
	background-color: cyan;
	color: white;
	font-size: x-large;
	font-family:agency FB;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
button {
	border: none;
	background-color: cyan;
	color: white;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);	
}
button:hover{
	background-color: white;
	color: cyan;
}
.text {
	background-color: white;
	color: cyan;
	padding: 10px;
	border: none;
	border-radius: 10px 0 0 10px;
} 
.btn {
	border: none;
	background-color: cyan;
	color: white;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0);
	border-radius:0 10px 10px 0;	
}
.search {
	border-radius: 10px;
	padding: 20px;
	width: 300px;
	margin-top: 30%;
	background-color:#ef9a9a;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
ad {
	position: fixed;
	right:0;
	left:0;
	bottom: 0;
	background-color: cyan;
	color: white;
	padding: 10px;
	display: flex;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	justify-content: space-between;
}
img {
	width: 100px;
}
ad text {
	font-family: chiller;
	padding: 10px;
	font-size: medium;
}
marquee {
	background-color: cyan;
	color: white;
	padding: 5px;
	font-size: small;
	margin: 5px;
	border-radius: 20px;
	width: 300px;
}
.container {
	background-color: white;
	padding: 10px;
	margin: 20px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.box {
	background-color: white;
	padding: 10px;
	margin: 5px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.box hr {
border: 0.01px solid cyan;
}
.box tt {
font-family:'inter',sans-serif;
color:red;
}
.box img {
width:80px;
margin-right:10px;
}
.holder {
display:flex;
}
footer {
	padding: 10px;
	background-color: darkcyan;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
hr {
	border: 0.02px solid white;
}